* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: black;
  font-family: roboto;
  font-size: 62,5%; }

/* */
a {
  text-decoration: none; }

h1, .tituloP {
  text-align: center;
  color: black;
  font-family: bodoni; }

p, .lead {
  font-style: normal;
  font-family: roboto;
  line-height: 120%; }

.tituloP {
  padding: 10px 10px;
  background: #198754;
  border-radius: 4px;
  color: white; }

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease; }
  .btn-wsp:hover {
    background: #20ba5a; }

.headerPrincipal {
  background: linear-gradient(#e2d2a8, #f0e8d6);
  grid-area: headerPrincipal; }
  .headerPrincipal .logo {
    width: 150px;
    height: 150px; }
  .headerPrincipal .navbar li :hover {
    background-color: #198754;
    color: beige;
    border-radius: 3px; }

.contenedorPadreIn {
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "headerPrincipal headerPrincipal headerPrincipal " "mainIndex mainIndex mainIndex" " footer footer footer "; }
  .contenedorPadreIn .mainIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% auto;
    padding: 30px 50px;
    grid-area: mainIndex; }
    .contenedorPadreIn .mainIndex .divIndex1 {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      border: outset #198754; }
      .contenedorPadreIn .mainIndex .divIndex1 p, .contenedorPadreIn .mainIndex .divIndex1 .lead {
        margin: 15px 15px;
        padding: 10px 10px;
        margin-left: 30px;
        color: black;
        width: 500px;
        height: 300px;
        font-size: 120%;
        line-height: 30px; }
    .contenedorPadreIn .mainIndex .divIndex1 img {
      width: 300px;
      height: 300px;
      border-radius: 4px;
      margin: 15px 15px;
      padding: 10px 10px;
      margin-left: 30px; }

.footer {
  padding: 1rem;
  grid-area: footer;
  text-decoration: none;
  background: linear-gradient(#f0e8d6, #e2d2a8); }
  .footer .footer h3 {
    text-align: center; }
  .footer .footer ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem; }
    .footer .footer ul .footer li {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      padding-left: 1rem;
      padding-right: 1rem; }
      .footer .footer ul .footer li .footer img {
        width: 40px;
        height: 40px;
        text-decoration: none; }
      .footer .footer ul .footer li:hover {
        transform: scale(1.1, 1.1);
        transition: 0.5s; }
      .footer .footer ul .footer li .footer li a {
        text-decoration: none; }

.contenedorPadreQ {
  height: 250px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "headerPrincipal headerPrincipal headerPrincipal" "mainQuienesSomos mainQuienesSomos mainQuienesSomos" " footer footer footer";
  width: 100% auto; }
  .contenedorPadreQ .mainQuienesSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95% auto;
    grid-template-areas: mainQuienesSomos; }
    .contenedorPadreQ .mainQuienesSomos .contenedorCardsQ {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 20px; }

.contenedorPadreProd {
  width: 100% auto;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "headerPrincipal  headerPrincipal headerPrincipal" " contenedorTituloYSub contenedorTituloYSub contenedorTituloYSub" "contenedorGaleriaProd contenedorGaleriaProd contenedorGaleriaProd" "footer footer footer"; }
  .contenedorPadreProd .contenedorTituloYSub {
    grid-template-areas: contenedorTituloYSub; }
    .contenedorPadreProd .contenedorTituloYSub .contenedorTituloYSub p, .contenedorPadreProd .contenedorTituloYSub .contenedorTituloYSub .lead {
      text-align: center; }
  .contenedorPadreProd .contenedorGaleriaProd {
    grid-template-areas: contenedorGaleriaProd;
    margin: 2rem auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .contenedorPadreProd .contenedorGaleriaProd .cardproductos {
      margin-top: 10px;
      opacity: 0.9; }
      .contenedorPadreProd .contenedorGaleriaProd .cardproductos :hover {
        opacity: 1;
        transform: scale(1.1, 1.1);
        transition: 0.3s; }

.imgHB {
  width: 200px;
  height: 200px; }

.mainContacto {
  background-image: url("../multimedia/"); }
  .mainContacto img {
    width: 250px;
    height: 500px; }
