    
.divIndex {
           
    img {
        border-radius: 5px;
        height: 400px;
        width: 450px;
        }
            
    p {
        padding:80px 5px;
        font-size: 120%;
        line-height: 30px;
        border-bottom: solid;
        border-color: $colorrosa;


    }

   
}

        

     

