    
.divIndex {
           
    img {

        border-radius: 5px; // No me toma esto, si le saco el margin y el padding si lo toma, si lo pongo al final o al principio sigue sin tomarlo.//
        margin: 15px 15px;
        padding:10px 10px;

        }
            
    p {
        padding:40px 10px;
        font-size: 120%;
        line-height: 30px;

    }

   

}

        

     

