
@media only screen and (max-width:320px) {

    .headerPrincipal{
 
        .logo { 
             width: 60px;
             height: 60px;
        }
     }


    .divIndex {
           
        img {
            height: 230px;
            width: 270px;
            margin: auto;
            }
    }

    .imgHB {
     height: 150px;
     width: 150px;
    }

    .contenedorTextoHB p {
        font-size: 14px;

    }

    .mainContacto {
    
        img {
            width:200px;
            height:400px
        }

    }

    .footer {
        padding: 0,5rem;
        grid-area: footer;
        height: 100%;
        width: 100% auto;

        }


    .btn-wsp {
    width:40px;
    height:40px;
    line-height: 40px;
    bottom:17px;
    right:17px;

    }


}



@media only screen and (min-width:320px) and (max-width:480px) {

    .headerPrincipal{
 
        .logo { 
             width: 90px;
             height: 90px;
        }
     }


    .divIndex {
           
        img {
            height: 250px;
            width: 300px;
            margin: auto;
            }
    }

    .imgHB {
     height: 150px;
     width: 150px;
    }

    .contenedorTextoHB p {
        font-size: 14px;

    }

    .mainContacto {
    
        img {
            width:200px;
            height:400px
        }

    }

    .footer {
        padding: 0,5rem;
        grid-area: footer;
        height: 100%;
        width: 100% auto;

        }


    .btn-wsp {
    width:40px;
    height:40px;
    line-height: 40px;
    bottom:17px;
    right:17px;

    }


}
