
.contenedorPadreProd {
    width: 100% auto;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "headerPrincipal  headerPrincipal headerPrincipal"
    "contenedorTituloYSub contenedorTituloYSub contenedorTituloYSub"
    "contenedorGaleriaProd contenedorGaleriaProd contenedorGaleriaProd"
    "footer footer footer" ;
    
    .contenedorTituloYSub {

        grid-template-areas: contenedorTituloYSub;
        
        .contenedorTituloYSub p {
            text-align: center;
        }
    }

    .contenedorGaleriaProd {
        grid-template-areas:contenedorGaleriaProd ;
        margin: 2rem auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .cardproductos {
            margin-top: 10px;
            opacity: 0.9;
            & :hover {
                opacity: 1;
                transform: scale(1.1 ,1.1);
                transition: 0.3s  
            }
        }
    }

}

.imgHB {
    width: 200px;
    height: 200px;
}

.mainContacto {
    img {
        width:250px;
        height:500px
    }

}