.contenedorPadreQ {
    height: 250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-areas: 
    "headerPrincipal headerPrincipal headerPrincipal"
    "mainQuienesSomos mainQuienesSomos mainQuienesSomos"
    " footer footer footer" ;
    width: 100% auto;

    .mainQuienesSomos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95% auto;
        grid-template-areas: mainQuienesSomos;

        .contenedorCardsQ {
            display: flex;
            flex-direction:row;
            justify-content:space-evenly;
            margin-top: 20px;
        }
       
       }
}

.contenedorPadreProd {
    width: 100% auto;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "headerPrincipal  headerPrincipal headerPrincipal"
    " contenedorTituloYSub contenedorTituloYSub contenedorTituloYSub"
    "contenedorGaleriaProd contenedorGaleriaProd contenedorGaleriaProd"
    "footer footer footer" ;
    
    .contenedorTituloYSub {

        grid-template-areas: contenedorTituloYSub;
        
        .contenedorTituloYSub p {
            text-align: center;
        }
    }

    .contenedorGaleriaProd {
        grid-template-areas:contenedorGaleriaProd ;
        margin: 2rem auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .cardproductos {
            margin-top: 10px;
            opacity: 0.9;
            & :hover {
                opacity: 1;
                transform: scale(1.1 ,1.1);
                transition: 0.3s  
            }
        }
    }

}

.imgHB {
    width: 200px;
    height: 200px;
}

.mainContacto {
    background-image: url('../multimedia/');

    .videocontacto {
        width:200px;
        height:350px
    }

}